@inherits LayoutComponentBase

<div class="flex flex-row w-screen h-screen bg-lithium-0 overflow-hidden">
    <div class="absolute inset-0 bg-[radial-gradient(circle_at_1rem_1rem,#222229_1px,transparent_0)] bg-size-[2rem_2rem] pointer-events-none"></div>
    <NavMenu @rendermode="@(new InteractiveServerRenderMode(false))"/>

    <main class="flex-1 h-full overflow-y-auto relative">
        @* <div class="absolute inset-0 bg-linear-to-br from-lithium-50 to-lithium-100 pointer-events-none"></div> *@
        <div class="relative z-10 p-8">
            @Body
        </div>
    </main>
</div>

<ErrorModal/>